.searchContainer {
  background-color: white;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
}

.clickedContainer {
  background-color: white;
  position: absolute;
  bottom: 70px;
  left: 0px;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
}

.listFilter {
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
}

.closeBtn {
  position: absolute;
  top: -20px;
  right: -20px;
}

.infoButton {
  position: absolute;
  top: 34px;
  left: 314px;
  z-index: 100;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.25);
}
